# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

eFPGA_20x20/sim/*
eFPGA_10x10/sim/*

!eFPGA_10x10/sim/input.vccd 
!eFPGA_10x10/sim/Makefile
!eFPGA_10x10/sim/sim_main.cpp
!eFPGA_10x10/sim/verilator-main.cpp
!eFPGA_20x20/sim/input.vccd 
!eFPGA_20x20/sim/Makefile
!eFPGA_20x20/sim/sim_main.cpp
!eFPGA_20x20/sim/verilator-main.cpp
